/*Encabezado*/
@use "./variables" as *;
header {
    background-color: $rojo-claro;

    .logo-header {
        width: 150px;
        height: 100px;
    }
}

/*Pie de página*/
footer {
    background-color: $rojo-claro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .twitter {
        width: 60px;
        margin-top: 15px;
        margin: 10px;
    }

    .facebook {
        @extend .twitter;
    }

    .instagram {
        @extend .twitter;
    }
}