/* mediaQ */
@use "./variables" as *;
@media (min-width:0px) and (max-width:480px) {

    /* header */
    header {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: sticky;
        top: 0;
        z-index: 800;
    }

    /* Mangaka */
    .foto-oda {
        width: 300px;
    }

    .oda h1 {
        font-size: 40px;
    }

    h2 {
        text-align: center;
    }

    .mapa-oda {
        width: 300px;
        height: 330px;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* index */
    .banner {
        width: 100%;
        height: 150px;
    }
    
    .noticias {
        display: grid;
        grid-template-areas:
            "titulo"
            "texto1"
            "video1"
            "texto2"
            "video2"
            "texto3"
            "video3";
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px 300px 100px 300px 100px 300px;
        column-gap: 20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;

        .video-1 {
            width: 300px;
            height: 200px;
        }
        .video-2 {
            width: 300px;
            height: 200px;
        }
        .video-3 {
            width: 300px;
            height: 200px;
        }
        
    }

    /* Contactos */
    textarea {
        width: 90%;
        height: 100px;
    }

    .formulario-contactos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    input {
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
    }

    /* Mugiwaras */
    .mugiwaras h1 {
        font-size: 60px;
    }

    .luffy {
        width: 300px;
    }

    .zoro {
         width: 300px;
    }

    .nami {
        width: 300px;
    }

    .sanji {
         width: 300px;
    }

    /* TopSagas */
    .imgmarineford {
        width: 300px;
    }

    .imgenieslobby {
        width: 300px;
    }

    .imgwholecake {
        width: 300px;
    }

    .top-sagas h1 {
        font-size: 55px;
        text-align: center;
    }

}

@media (min-width:481px) and (max-width:768px) {

    /* header */
    header {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: sticky;
        top: 0;
        z-index: 850;
    }

    /* Mangaka */
    .foto-oda {
        width: 360px;
    }

    .oda h1 {
        font-size: 40px;
    }

    iframe {
        width: 360px;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* index */
    .noticias {
        display: grid;
        grid-template-areas:
            "titulo"
            "texto1"
            "video1"
            "texto2"
            "video2"
            "texto3"
            "video3";
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px 300px 100px 300px 100px 300px;
        column-gap: 20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    /* Contactos */
    textarea {
        width: 90%;
        height: 100px;
    }

    .formulario-contactos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    input {
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
    }

    /* Mugiwaras */
    .luffy {
        width: 360px;
    }

    .zoro {
         width: 360px;
    }

    .nami {
         width: 360px;
    }

    .sanji {
         width: 360px;
    }

    /* TopSagas */
    .imgmarineford {
        width: 340px;
    }

    .imgenieslobby {
        width: 340px;
    }

    .imgwholecake {
        width: 340px;
    }

    .top-sagas h1 {
        font-size: 55px;
        text-align: center;
    }

}