/*Mugiwaras*/
@use "./variables" as *;
.mugiwaras {
    @include flex (column, center, center);
    h1 {
        @include titulos(orange, 80px, underline, orange);
    }

    h2 {
        @include titulos(skyblue, 40px, underline, skyblue);
    }

    p {
        color: $blanco;
        font-size: 20px;
        padding: 10px;
    }
}

.luffy {
    width: 500px;
}

.zoro {
    @extend .luffy;
}

.nami {
    @extend .luffy;
}

.sanji {
    @extend .luffy;
}