/*top sagas cuerpo*/
@use "./variables" as *;
.top-sagas {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $rojo-claro;
        font-size: 80px;
        text-decoration: underline;
    }

    h2 {
        @include titulos(orange, 40px, underline, orange);
    }

    h3 {
        @include titulos($rojo-oscuro, 20px, underline, $rojo-oscuro);
    }

    ul {
        list-style: upper-roman;
        color: $blanco;
    }
}

.marineford {
    @include flex (column, center, center);
}

.ennieslobby {
    @extend .marineford;
}

.wholecake {
    @extend .marineford;
}