@charset "UTF-8";
/*body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1D1616;
}

p {
  color: #EEEEEE;
  margin-top: 10px;
  padding: 10px;
}

h1 {
  color: #D84040;
  font-style: italic;
  font-size: 40px;
  margin-top: 15px;
  padding: 10px;
  text-decoration: underline;
}

h2 {
  color: orange;
  margin-top: 15px;
  padding: 10px;
}

h3 {
  color: #8E1616;
  margin-top: 15px;
  text-decoration: underline;
}

/*Encabezado*/
header {
  background-color: #D84040;
}
header .nav-link {
  color: #EEEEEE;
}
header .logo-header {
  width: 150px;
  height: 100px;
}

/*Pie de página*/
footer {
  background-color: #D84040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
footer .twitter, footer .instagram, footer .facebook {
  width: 60px;
  margin-top: 15px;
  margin: 10px;
}
/*cuerpo index*/
.banner {
  width: 100%;
}

.descripcion p {
  color: #EEEEEE;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}
.descripcion h1 {
  display: flex;
  justify-content: center;
}

.noticias {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "texto1 texto2 texto3" "video1 video2 video3";
  grid-template-columns: 25% 40% 25;
  grid-template-rows: 70px 100px 300px;
  column-gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.noticias h3 {
  color: #8E1616;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #8E1616;
}
.noticias h2 {
  color: #D84040;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #D84040;
}

.titulo-novedades {
  grid-area: titulo;
}

.texto-video-1 {
  grid-area: texto1;
}

.texto-video-2 {
  grid-area: texto2;
}

.texto-video-3 {
  grid-area: texto3;
}

.video-1 {
  grid-area: video1;
}

.video-2 {
  grid-area: video2;
}

.video-3 {
  grid-area: video3;
}

/*Cuerpo Contacto*/
.redes-contacto h1 {
  display: flex;
  justify-content: center;
}

.iconos-contacto {
  display: flex;
  justify-content: space-evenly;
}

.facebook-contacto {
  width: 55px;
  margin-top: 15px;
}

.instagram-contacto {
  width: 90px;
  margin-top: 15px;
}

.formulario-contactos {
  display: flex;
  flex-direction: column;
  font-size: large;
  color: #EEEEEE;
  margin-top: 50px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.formulario-contactos p {
  color: #EEEEEE;
  font-size: 20px;
  padding: 0px;
  margin-bottom: 10px;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.redes-nuevo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Oda*/
.oda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oda h1 {
  color: orange;
  font-size: 80px;
  text-decoration: underline;
  text-decoration-color: orange;
}
.oda h2 {
  color: skyblue;
  font-size: 40px;
  text-decoration: none;
  text-decoration-color: none;
}
.oda p {
  color: #EEEEEE;
  font-size: 20px;
}

/*Mugiwaras*/
.mugiwaras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mugiwaras h1 {
  color: orange;
  font-size: 80px;
  text-decoration: underline;
  text-decoration-color: orange;
}
.mugiwaras h2 {
  color: skyblue;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: skyblue;
}
.mugiwaras p {
  color: #EEEEEE;
  font-size: 20px;
  padding: 10px;
}

.luffy, .sanji, .nami, .zoro {
  width: 500px;
}

/*top sagas cuerpo*/
.top-sagas h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D84040;
  font-size: 80px;
  text-decoration: underline;
}
.top-sagas h2 {
  color: orange;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: orange;
}
.top-sagas h3 {
  color: #8E1616;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #8E1616;
}
.top-sagas ul {
  list-style: upper-roman;
  color: #EEEEEE;
}

.marineford, .wholecake, .ennieslobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mediaQ */
@media (min-width: 0px) and (max-width: 480px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  /* Mangaka */
  .foto-oda {
    width: 360px;
  }
  .oda h1 {
    font-size: 40px;
  }
  iframe {
    width: 360px;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  /* index */
  .noticias {
    display: grid;
    grid-template-areas: "titulo" "texto1" "video1" "texto2" "video2" "texto3" "video3";
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 300px 100px 300px 100px 300px;
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  /* Contactos */
  textarea {
    width: 90%;
    height: 100px;
  }
  .formulario-contactos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  input {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
  }
  /* Mugiwaras */
  .luffy {
    width: 360px;
  }
  .zoro {
    width: 360px;
  }
  .nami {
    width: 360px;
  }
  .sanji {
    width: 360px;
  }
  /* TopSagas */
  .imgmarineford {
    width: 340px;
  }
  .imgenieslobby {
    width: 340px;
  }
  .imgwholecake {
    width: 340px;
  }
  .top-sagas h1 {
    font-size: 55px;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  /* Mangaka */
  .foto-oda {
    width: 360px;
  }
  .oda h1 {
    font-size: 40px;
  }
  iframe {
    width: 360px;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  /* index */
  .noticias {
    display: grid;
    grid-template-areas: "titulo" "texto1" "video1" "texto2" "video2" "texto3" "video3";
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 300px 100px 300px 100px 300px;
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  /* Contactos */
  textarea {
    width: 90%;
    height: 100px;
  }
  .formulario-contactos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  input {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
  }
  /* Mugiwaras */
  .luffy {
    width: 360px;
  }
  .zoro {
    width: 360px;
  }
  .nami {
    width: 360px;
  }
  .sanji {
    width: 360px;
  }
  /* TopSagas */
  .imgmarineford {
    width: 340px;
  }
  .imgenieslobby {
    width: 340px;
  }
  .imgwholecake {
    width: 340px;
  }
  .top-sagas h1 {
    font-size: 55px;
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
